$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas !default;
$primary: #e9e9e9 !default;
$on-primary: #303030 !default;
$background: #797979 !default;
$on-background: #eeeeee !default;
